<!DOCTYPE html>
{% load  static %}
<html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Favicon -->
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
  <!-- Icon - IconMonster -->
  <link rel="stylesheet" href="https://cdn.acwing.com/static/jquery-ui-dist/jquery-ui.min.css"" />
  <!-- Mumble UI -->
  <link rel="stylesheet" href="{% static 'unikit/styles/unikit.css' %}" />
  <!-- Dev Search UI -->
  <link rel="stylesheet" href="{% static 'styles/app.css' %}" />

  <title>DevSearch - Connect with Developers!</title>

</head>

<body>

    {% include 'navbar.html' %}
    
    {% if messages %}
    {% for message in messages %}
    <div class="alert  alert--{{message.tags}}">
        <p class="alert__message">{{message}}</p>
        <button class="alert__close">x</button>
    </div>                          
    {% endfor %}
    {% endif %}
    {% block content %}

    {% endblock content %}
    
</body>
<script src="{% static 'unikit/app.js' %}"></script>

</html>
